<div class="header container text-right">
	<div>
		<h1>Salt Lake Inversion Aversion</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="day">
			<p>Today</p>
		</div>
	</div>
	<div class="row">
		<div class="<%= 'good' if @o3_status == "Good" %> forecast col-md-6 text-center">
			<h1>O3</h1>
			<h2><%= @o3_status %></h2>
			<p>AQI: <%= @o3_aqi %></p>
		</div>
		<div class="<%= 'good' if @o3_status == "Good" %> forecast col-md-6 text-center">
			<h1>PM25</h1>
			<h2><%= @pm25_status %></h2>
			<p>AQI: <%= @pm25_aqi %></p>
		</div>
	</div>
	<div class="row">
		<div class="day">
			<p>Tomorrow</p>
		</div>
	</div>
	
	<div class="row">
		<div class="forecast O3 col-md-6 text-center">
			<h1>O3</h1>
			<h2><%= @tomorrow_o3_status %></h2>
			<p>AQI: <%= @tomorrow_o3_aqi %></p>
		</div>
		<div class="forecast PM25 col-md-6 text-center">
			<h1>PM25</h1>
			<h2><%= @tomorrow_pm25_status %></h2>
			<p>AQI: <%= @tomorrow_pm25_AQI %></p>
		</div>
	</div>

	<div class="row">
  		<%= line_chart [
  				{name: "O3", data: Observation.where(parameterName: "O3").group_by_hour(:created_at).maximum(:aqi)},
  				{name: "PM2.5", data: Observation.where(parameterName: "PM2.5").group_by_hour(:created_at).maximum(:aqi)}
  			]
  			%>
	</div>

</div>

<div class="footer container text-right">
	<div>
		<p>Copyright 2015 Ryan Cobb</p>
	</div>
</div>