<div class="header container text-right">
	<div>
		<h1>Salt Lake City Air Quality</h1>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="day">
			<p>Today</p>
		</div>
	</div>

	<div class="row">
		<div class="<%= @o3CSSClass %> forecast col-xs-6 text-center">
			<h1>O3</h1>
			<h2><%= @o3_status %></h2>
			<p>AQI: <%= @o3_aqi %></p>
		</div>
		<div class="<%= @pm25CSSClass %> forecast col-xs-6 text-center">
			<h1>PM2.5</h1>
			<h2><%= @pm25_status %></h2>
			<p>AQI: <%= @pm25_aqi %></p>
		</div>
	</div>

	<div class="row">
		<%= content_tag :div, "", class: '', id: "aqi_chart", data: {aqi: @observations} %>
	</div>
		

	<div class="lookup">
		<div class="row hazardous">
			<div class="col-xs-6 text-right">301-500</div>
			<div class="col-xs-6">Hazardous</div>
		</div>
		<div class="row veryunhealthy">
			<div class="col-xs-6 text-right">201-300</div>
			<div class="col-xs-6">Very Unhealthy</div>
		</div>
		<div class="row unhealthy">
			<div class="col-xs-6 text-right">151-200</div>	
			<div class="col-xs-6">Unhealthy</div>
		</div>
		<div class="row UFSG">
			<div class="col-xs-6 text-right">101-150</div>
			<div class="col-xs-6">Unhealthy for Sensitive Groups</div>
		</div>

		<div class= "row moderate">
			<div class="col-xs-6 text-right">51-100</div>
			<div class="col-xs-6">Moderate</div>
		</div>	
		<div class="row good">
			<div class="col-xs-6 text-right">0 - 50</div>
			<div class="col-xs-6">Good</div>
		</div>
	</div>

</div>

<div class="footer container text-right">
	<div>
		<p>Copyright 2015 Ryan Cobb</p>
	</div>
</div>
